.hero-main {
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden !important;
}
.bull3_vid-banner-doc img{
  position: relative;
  left: 0%;
  top: -6%;
}
.hero-container {
  align-items: center;
  display: flex;
  justify-content: center;
  /* height: 550px; */
  background-color: #14a5ad;
}

.quarters-a {
  width: 70%;
  margin-top: 10rem;
  margin-left: 20%;
  color: #000;
}
.quarters-timeline {
  display: flex;
  align-items: center;
}
.quarters-timeline img {
  margin-right: 20px;
}

.quarters-2 {
  margin-left: 51%;
  margin-top: -150px;
  color: #000;
}
.main-designs img {
  position: relative;
  left: 342px;
  right: -33px;
  top: -83px;
}

.quarters-c {
  width: 70%;
  margin-top: -180px;
  margin-left: 14%;
}
.quarters-d {
  margin-left: 59%;
  margin-top: -173px;
}

.main-designs-2 img {
  position: relative;
  left: 221px;
  top: -109px;
}
.main-designs-3 img {
  position: relative;
  left: 233px;
  top: -99px;
}

.timeline-text p {
  color: #000;
}
.timeline-text .q1 {
  color: #6d00bf;
}



.hero-main h1 {
  color: #000;
  text-align: center;
  font-size: 150px;
}

.bull3_vid-banner-doc {
  
  /* height: 80vh; */
  display: flex;
  background: #6d00bf;
  height: 500px;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bull3_vid-banner-doc img{
  width: 300px;
}

.bull3_vid-banner-doc h1 {

  font-size: 200px;
  text-align: center;
  color: #000000;
  /* line-height: 50vh; */
}

.bull3_roadmap-down {
  background-image: url("../../assets/roadmapdown.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.bull3_roadmap-down h1 {
  /* width: 400px; */
  font-family: "Verdana";
  font-size: 50px;
  padding: 6rem;
  color: #cecece;
}

@media screen and (max-width: 900px) {
  .bull3_vid-banner-doc h1 {
    font-size: 70px;
  }
  .bull3_vid-banner-doc img{
    position: relative;
    left: 0%;
    top: -6%;
    width: 80px;
  }
  .bull3_vid-banner-doc {
  
    /* height: 80vh; */
    display: flex;
    background: #6d00bf;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .bull3_roadmap-down {
    background-image: url("../../assets/roadmapdown.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  
  .bull3_roadmap-down h1 {
    /* width: 400px; */
    font-family: "Verdana";
    font-size: 30px;
    padding: 6rem 2rem;
    color: #cecece;
  }
  
}

@media screen and (max-width: 600px) {
  .bull3_vid-banner-doc h1 {
    font-size: 70px;
  }
  .bull3_roadmap-down p {
    font-family: "Verdana";
    font-size: 16px;
    /* width: 50%; */
    color: #cecece;
  }
  /* .bull3_roadmap-down {
    height: 400px;
    background-position: right;
  } */
  .bull3_roadmap-down p {
    padding: 6rem 0 0 1rem;
    width: 70%;
    color: #cecece;
  }

}
