.bull3_team-container {
  /* margin-top: 15rem; */
}
.bull3_vid-banner-team {
  background: #6d00bf;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.team-intro {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 100px;
  height: 350px;
  background-image: url("../../assets/bullchordb\ \(1\).png");
  background-position: center;
  background-size: 300px;
  background-repeat: no-repeat;
}
.team-intro p {
  text-align: center;
  line-height: 30px;
  font-family: "Verdana";
  font-size: 18px;
}
.team-section {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-bottom: 30px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bull3_team {
  font-size: 200px;
  text-align: center;
  color: #000000;
}

.bull3_downbg h1 {
  font-size: 50px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.team-member {
  padding: 15px;
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(181, 199, 200, 0.13);

  border-radius: 6px;
  box-shadow: 0 4px 10px 0 rgba(189, 208, 223, 0.104);
}

.team-member img {
  width: 120px;
}

.team-section h3 {
  line-height: 5%;
}
.team-socials {
  margin-top: 15px;
}

.team-socials img {
  margin-left: 10px;
  width: 10px;
  background: #000000;
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.5s;
}
.team-socials img:hover {
  transform: translateY(-10px);
}

.bull3_vid-banner-team h1 {
  width: 100%;
  font-size: 100px;
  text-align: center;
  color: #000000;
  line-height: 20vh;
  /* mix-blend-mode: screen; */
}

@media screen and (max-width: 850px) {
  .team-intro {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    height: 300px;
    background-image: url("../../assets/bullchordb\ \(1\).png");
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
  }
  .team-intro p {
    font-size: 16px;
  }
  .team-section {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .bull3_team {
    font-size: 120px;
    text-align: center;
    color: #000000;
  }

  .bull3_downbg h1 {
    padding-top: 10rem;
    padding-bottom: 5rem;
    font-size: 60px;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .bull3_vid-banner-team h1 {
    font-size: 100px;
  }
}

@media screen and (max-width: 450px) {
  .team-section {
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
}
