.carousel {
  width: 100%;
  height: 740px;
  background: #000000;
  color: rgb(163, 165, 175);
  margin-bottom: 60px;
  /* margin: 0 auto; */
}
.carousel-container {
  padding: 20px;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.carousel h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  font-family: "Machina";
  color: #fff;
}

.carousel-desc-card {
  height: 600px;
  margin-right: 40px;
  text-align: center;
  padding: 15px;
  width: 30%;
  border-radius: 15px;
  border: 1px solid rgba(151, 71, 255, 0.4611);
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-desc-card p {
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.carousel-card {
  width: 75%;
  font-family: "Roboto", sans-serif;
}

.card-bottom p {
  line-height: 20%;
}

.main-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: "Roboto", sans-serif;
  gap: 15px;
  color: #fff;
}

.material-symbols-outlined {
  vertical-align: middle;
}

@media screen and (max-width: 1050px) {
  .carousel-desc-card {
    height: 100px;
    text-align: center;
    padding: 15px;
    width: 90%;
    max-width: 900px;
    border-radius: 15px;
    border: 1px solid rgba(151, 71, 255, 0.4611);
    margin-bottom: 2rem;
  }
  .carousel-desc-card p {
    text-align: center;
  }
  .carousel-card {
    width: 600%;
  }

  .carousel-container {
    padding: 20px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .carousel {
    width: 100%;
    height: 900px;
    background: #000;
    /* color: rgb(163, 165, 175); */
  }
}

@media screen and (max-width: 790px) {
  .carousel {
    height: 500px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px !important;
    height: 300px !important;
  }
  .card-content h2 {
    font-size: 20px;
    font-family: "Machina", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }

  .swiper-img > img {
    display: block;
    width: 100%;
    height: 300px !important;
  }

  .socials-hand {
    inset: auto auto 0px 50px;
  }
  .card-content p {
    inset: auto auto 40px 30px;
    font-size: 13px;
  }
}
.swiper {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
}

.swiper-img > img {
  display: block;
  width: 100%;
  height: 500px;
}
