.bull3_song_container {
    background: #fff;
    padding: 3rem 6rem;
}

.song_h1 {
    text-align: left;
    max-width: 950px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.bull3_heter h1 {
    max-width: 950px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.bull3_song-roll {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}


.bull3_song-inner {
display: flex;
background: #000000;
justify-content: space-around;
min-height: 250px;
border-radius: 10px 0px 0px 0px;

}

.song_h1 {
    color: #000000;
}

.bull3_song-inner2 {
    display: flex;
    background: #000000;
    justify-content: space-around;
    min-height: 250px;
    margin-top: 0.5rem;
    }

.bull3_song-colone {
    width: 480px;
    border-radius: 0px;
    border-radius: 10px 0px;

}

.bull3_song-coltwo {
    /* height: 200px; */
    height: 100%;
    /* width: 100%; */
    width: 480px;
    /* width: 100%; */
    /* left: 0px;
    top: 0px; */
    border-radius: 0px;
    background: #000000;
    border-radius: 0px 10px;

}



.bull3_song-coltwo .music-img {
  width: 480px;
  height: 420px;
  border-radius: 0px 10px;
}

.listner {
    color: #fff;
    text-align: start;
    padding: 1rem;
}

 .headset img {
    width: 200px;
}

.disk img {
    width: 200px;
}

.artist {
    color: #fff;
    text-align: start;
    padding: 1rem;
}

.music_details {
    display: flex;
    justify-content: space-between;
    margin-top: -4px;
    background: #000000;
    width: 480px;
    height: 46px;
    color: #fff;
}

.music_detail {
    display: flex;
    justify-content: space-between;
    margin-top: -4px;
    background: #000000;
    /* background-size: cover; */
    width: 480px;
    height: 46px;
    color: #fff;
}

.music_title, .artist_name {
    padding-left: 10px;
    padding-top: 10px;
}

.music_price, .music_cost {
    padding-top: 10px;
    padding-right: 10px;
}

.music_detail img {
    width: 30px;
}

.play-img {
        background: #5f6162;
        border-radius: 50%;
        padding: 10px;
        margin-top: 1rem;
}

.pause-img {
    background: #5f6162;
    border-radius: 50%;
    padding: 10px;
    margin-top: 1rem;
}

.bull3_genre {
    display: block;
    margin: 0 auto;
    width: 972px;
    height: 300px;
    margin-top: -12px;
    /* left: 98px; */
    /* top: 5017px; */
    background-image: url('../../assets//microphonee.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 10px 10px;
    }


    .bull3_genre, h1 , p {
        color: #fff;
        text-align: start;
    }

    .bull3_genre h1 {
        width: 450px;
        padding: 20px;
    }

    .bull3_genre p {
        width: 450px;
        padding-left: 20px;
    }

.bull3_genre-btn {
    padding: 20px 30px;
    font-size: 20px;
    width: 200px;
    line-height: 25px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #6D00BF;
    margin: 1rem;
    }

    .bull3_heter {
        background: #ffffff;
    }

    .bull3_heter h1 {
        text-align: center;
        padding: 1rem;
        color: #000000;
    }

    .slide-left {
        -webkit-animation: slide-left 5s ease-in-out infinite alternate both;
                animation: slide-left 5s ease-in-out infinite alternate both;
    }

/* ----------------------------------------------
 * Generated by Animista on 2023-3-13 13:18:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
    }
  }


  

@media screen and (max-width: 1050px) {

    .bull3_song_container {
        background: #fff;
        padding: 1rem 2rem;
    }
    .bull3_song-roll {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bull3_song-colone {
        /* height: 200px; */
        width: 100%;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        
    }

    .bull3_song-coltwo {
        /* height: 200px; */
        width: 100%;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        
        /* margin-top: 20rem; */
    }
    /* .bull3_song-coltwo img {
        width: 100%;
      } */

.bull3_song-coltwo .music-img {
    width: 480px;
    height: 420px;
  
  }

      .bull3_genre {
        display: block;
        margin: 0 auto;
        width: 700px;
        height: 300px;
        /* margin-top: -12px; */
        /* left: 98px; */
        /* top: 5017px; */
        background-image: url('../../assets//microphonee.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        }



/* 
      .song_h1 {
        text-align: left;
        width: 700px;
        font-size: 25px;
        display: block;
        margin: 0 auto;
        padding-bottom: 5rem;
    } */


    .bull3_genre {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 300px;
        /* margin-top: 20rem; */
        /* margin-top: -12px; */
        /* left: 98px; */
        /* top: 5017px; */
        /* background-image: url('../../assets//microphonee.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; */
        }
}

@media screen and (max-width: 675px) {
    /* .song_h1 {
        text-align: left;
        width: 500px;
        font-size: 18px;
        display: block;
        margin: 0 auto;
        padding-bottom: 5rem;
    } */
}

@media screen and (max-width: 500px) {

    .bull3_song_container {
        background: #fff;
        padding: 1rem 1rem;
    }
    .bull3_song-roll {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bull3_song-colone {
        /* height: 200px; */
        width: 100%;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        
    }

    .bull3_song-coltwo {
        /* height: 200px; */
        width: 100%;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        /* margin-top: 24rem; */
    }
    .bull3_song-coltwo .music-img {
        width: 100%;
        height: 380px;
      }

      .headset img {
        width: 150px;
    }
    
    .disk img {
        width: 150px;
    }

    .bull3_genre {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 300px;
        /* margin-top: -12px; */
        /* left: 98px; */
        /* top: 5017px; */
        background-image: url('../../assets//microphonee.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        }


      .bull3_genre h1 {
        font-size: 20px;
        width: 300px;
        padding: 20px;
    }

    .bull3_genre p {
        width: 300px;
        padding-left: 20px;
    }

    .song_h1 {
        /* text-align: center;
        width: 280px;
        font-size: 18px; */
        /* display: block;
        margin: 0 auto;
        padding-bottom: 5rem; */
        padding-top: 2rem;
    }

    .music_details {
        display: flex;
        justify-content: space-between;
        margin-top: -4px;
        background: #000000;
        width: 100%;
        height: 46px;
        color: #fff;
    }
    
    .music_detail {
        display: flex;
        justify-content: space-between;
        margin-top: -4px;
        background: #000000;
        width: 100%;
        height: 46px;
        color: #fff;
    }

    .bull3_heter h1 {
        font-size: 25px;
        text-align: left;
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
    .song_h1 {
        font-size: 25px;
        text-align: left;
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
}