.bull3_partner-container {
  background: #000000;
  overflow-y: hidden;
}

.bull3_partner-container h1 {
  text-align: center;
  align-self: center;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
}

.bull3_partner-roll {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.bull3_partner-container h1 {
  font-size: 25px;
  font-family: "Machina", serif;
  margin-bottom: 2rem;
}

.gecko img {
  width: 100px;
}
.binance {
  width: 50px;
  opacity: 0.4;
}
