.bull3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #000000;
}

.bull3__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bull3__navbar-links_logo {
  margin-right: 2rem;
}

.bull3__navbar-links_logo img {
  width: 290px;
}

.bull3__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.bull3__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.bull3__navbar-sign a {
  text-decoration: none;
  font-weight: 700;
}
.bull3__navbar-sign a:hover {
  transition: 0.5s;
}

.bull3__navbar-links_container a {
  text-decoration: none;
  margin: 0 1rem;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.8;
  font-family: "Verdana";
}

.bull3__navbar-links_container a:hover {
  opacity: 1;
  transition: 0.5s;
}

.bull3__navbar-sign {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  margin-right: 40px;
}

.btn {
  padding: 19px 39px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  font-family: "Machina";
  font-style: normal;
  font-weight: 400;
  border: none;
  border-radius: 6px;
  outline: none;
  background: #6d00bf;
  /* border:  #6d00bf; */
  flex: none;
  order: 5;
  flex-grow: 0;
  cursor: pointer;
  color: #ffffff;
}

/* .btn a {
} */
.bull3__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.bull3__navbar-menu svg {
  cursor: pointer;
}

.navicon {
  margin-right: 1rem;
}

.bull3__navbar-menu_container {
  text-align: center;
  background: #000;
  padding: 2rem;
  position: absolute;
  top: 43px;
  right: 0;
  margin-left: -3rem;
  margin-top: 0rem;
  min-width: 200px;
  height: 1000px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.bull3__navbar-menu_container p {
  margin: 1rem 0;
}

.bull3__navbar-menu_container-links-sign {
  display: none;
}

.scale-up-hor-right {
  -webkit-animation: scale-up-hor-right 0.2s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-right 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}

@media screen and (max-width: 1050px) {
  .bull3__navbar-links_container {
    display: none;
  }

  .bull3__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 913px) {
  .bull3__navbar-menu_container-links {
    display: flex;
    flex-direction: column;
  }
  .bull3__navbar-menu_container-links a {
    text-decoration: none;
    /* margin: 0 1rem; */
    font-size: 20px;
    color: #ffffff;
    opacity: 0.8;
    font-family: "Verdana";
  }
  .bull3__navbar-links_container a:hover {
    opacity: 1;
    transition: 0.5s;
  }
  .bull3__navbar-menu_container-links a:nth-child(2) {
    margin-top: 80px;
  }
  .bull3__navbar-menu_container-links a:nth-child(3) {
    margin-top: 80px;
  }

  .bull3__navbar-menu_container-links a:nth-child(4) {
    margin-top: 80px;
  }

  /* .bull3__navbar-menu_container-links-sign a {
  } */
}
@media screen and (max-width: 769px) {
  .bull3__navbar-menu_container-links a:nth-child(2) {
    margin-top: 80px;
  }
  .bull3__navbar-menu_container-links a:nth-child(3) {
    margin-top: 80px;
  }

  .bull3__navbar-links_logo img {
    width: 200px;
  }
}

@media screen and (max-width: 550px) {
  .bull3__navbar {
    padding: -1rem;
    width: 96%;
  }

  .bull3__navbar-sign {
    display: none;
  }

  .bull3__navbar-menu_container-links-sign {
    display: block;
    margin-top: 150px;
  }
  .bull3__navbar-menu_container-links p:nth-child(2) {
    margin-top: 80px;
  }
  .bull3__navbar-menu_container-links p:nth-child(3) {
    margin-top: 80px;
  }

  /* .bull3__navbar-menu_container-links-sign button a {
    text-decoration: none;
    color: #a9a9a9;
    font-size: 18px;
  } */

  .bull3__navbar-links_logo img {
    width: 230px;
  }
}
