.bull3__header {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: url("../../assets/liquid.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
  padding-top: 11rem;
}

.bull3_video_home Video {
  width: 100vw;
  height: 200px;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.bull3_video_home {
  text-align: left;
  background: linear-gradient(
    89.72deg,
    #000000 -11.74%,
    #000000 -11.74%,
    #000000 -11.7%,
    #000000 60.02%,
    rgba(217, 217, 217, 0) 95.1%
  );
  height: 180px;
}

.bull3_video_home h3 {
  margin-top: 20px;
  margin-left: 380px;
  font-size: 30px;
  color: rgb(198, 198, 198);
  padding-top: 7.5rem;
  font-family: "Machina";
  text-align: left;
}

.bull3__header-content img {
  text-align: center;
}

.bull3__header-content h1 {
  width: 100%;
  /* max-width: 800px; */
  border-radius: nullpx;
  font-family: "Poppins";
  font-size: 80px;
  font-weight: 600;
  line-height: 84px;
  letter-spacing: 0em;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.bull3__broad {
  color: #ffffff;
}

.bull3__header-content p {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.005em;
  text-align: center;
  color: #ffffffff;

  padding: 10px;
}

.bull3__header-content_btn button a {
  text-decoration: none;
  font-weight: 900;
  color: #ffffffff;
  font-size: 20px;
}

.bull3__header-content_btn {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.bull3__header-content_btn button {
  padding: 20px 30px;
  font-size: 24px;
  width: 350px;
  line-height: 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #22e1eb;
  border: none;
  border-radius: 10px;
  outline: none;
  background: #6d00bf;
  margin: 1rem;

  cursor: pointer;
}

.bull3__header-content_btn button:nth-child(2) {
  background: transparent;
  border: 1px solid #22e1eb;
}

.bull3__header-content__people p {
  margin-left: 0 0 0 1rem;
  font-family: var(--font-family);
  line-height: 38px;
  font-weight: 500;
  font-size: 12px;
  color: #000;
  text-align: center;
}

.bull3__header-image {
  justify-content: flex-end;
  align-items: flex-end;
  /* position: absolute; */
}

.roll-out-right {
  -webkit-animation: roll-out-right 3s ease-in infinite both;
  animation: roll-out-right 3s ease-in infinite both;
}

@-webkit-keyframes roll-out-right {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) rotate(540deg);
    transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}
@keyframes roll-out-right {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) rotate(540deg);
    transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}

.animation {
  height: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-family: "Machina";
  font-weight: 600;
  color: #f4f4f4f6;
  margin-top: 40px;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 12s infinite;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
@media screen and (max-width: 1080px) {
  .bull3__header-content h1 {
    width: 100%;
    border-radius: nullpx;
    font-family: "Poppins";
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
  }
}

@media screen and (max-width: 1050px) {
  .bull3__header {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 680px;
  }

  .bull3__header-content {
    text-align: center;
  }

  .bull3__header-content h1 {
    padding-top: 2rem;
    width: 100%;
    border-radius: nullpx;
    font-family: "Poppins";
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
  }

  .bull3__header-content p {
    width: 100%;
    font-family: "Verdana";
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0.005em;
    text-align: center;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 770px) {
  .bull3__header {
    height: 500px;
  }
  .bull3__header-content h1 {
    padding-top: 2rem;
    width: 100%;
    border-radius: nullpx;
    font-family: "Poppins";
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;
  }

  .bull3_video_home h3 {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 25px;
    color: rgb(198, 198, 198);
    padding-top: 6rem;
    font-family: "Machina";
  }
  .bull3__header-content p {
    width: 100%;
    font-family: "Verdana";
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.005em;
    text-align: center;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 590px) {
  .bull3_video_home h3 {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
    color: rgb(198, 198, 198);
    padding-top: 6rem;
    font-family: "Machina";
  }

  .bull3__header-content h1 {
    padding-top: 2rem;
    width: 100%;
    border-radius: nullpx;
    font-family: "Poppins";
    font-size: 45px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
  }

  .bull3__header-content p {
    width: 90%;
    margin: 0 auto;
    font-family: "Verdana";
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.005em;
    text-align: center;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 490px) {
  .bull3__header {
    padding-top: 2rem;
  }

  .bull3_video_home Video {
    height: 130px;
  }

  .bull3_video_home {
    height: 100px;
  }
  .bull3_video_home h3 {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 19px;
    color: rgb(198, 198, 198);
    padding-top: 4rem;
    font-family: "Machina";
  }
  .bull3__header h1 {
    font-size: 25px;
  }

  .bull3__header p {
    font-size: 16px;
  }

  .bull3__header-content__input input,
  .bull3__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }

  .bull3__header-content h1 {
    width: 100%;
    font-family: "Poppins";
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    font-weight: 700;
    line-height: 50px;
  }

  .bull3__header-content p {
    font-family: "Poppins";
    color: #f4f4f4;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
  }

  .bull3__header-content_btn button {
    padding: 12px 30px;
    outline: none;
    font-size: 14px;
  }
}
