.bull3_listen-container {
  height: 800px;
  border-radius: 0px;
  background: #000000;
  padding: 3rem 5rem;
  /* overflow-x: hidden !important; */
}
.listenbg img {
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  opacity: .6;
}
.bull3_listen-main {
  display: flex;
}

.bull3_listen-container h1 {
  text-align: start;
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 30px;
  line-height: 131.1%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.bull3_col-two {
  text-align: start;
  margin-left: 250px;
  /* width: 90%; */
  margin-top: 80px;

}

.bull3_col-two h1 {
  font-family: "Machina";
}

.bull3_col-two p {
  font-family: "Verdana", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.045em;
  text-align: left;
  padding: 10px;
  width: 80%;
  /* margin-top:100px ; */
  margin-bottom: 50px;
  color: #969ea1;;
}

.bull3_whitelist-btn img {
  width: 16px;
}

.bull3_col-one .speaker {
  width: 409px;
  /* height: 391px; */
  left: 31px;
  top: 221px;
  margin-top: 2rem;
  margin-left: 130px;
}

.bull3_col-two button img {
  left: 63.02%;
  right: 33.88%;
  top: 82.95%;
  bottom: 8.81%;
}

.rotate-center {
  -webkit-animation: rotate-center 14s linear infinite both;
  animation: rotate-center 14s linear infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bull3_col-one .sound1 {
  width: 20px;
}

.bull3_col-one .sound2 {
  width: 20px;
}

.sound3 {
  width: 20px;
  margin-bottom: -10rem !important;
  margin-left: 4rem;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.cta {
  text-decoration: none;
  color: #fcfcfc;
  font-family: "Machina", sans-serif;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  width: 56px;
  height: 56px;
  background: #8742c7;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #d3b5ea;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover::before {
  width: 100%;
  background: #8e0fef;
}
.cta:active {
  transform: scale(0.96);
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.roll-out-right {
  -webkit-animation: roll-out-right 3s ease-in infinite both;
  animation: roll-out-right 3s ease-in infinite both;
}

@-webkit-keyframes roll-out-right {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px) rotate(530deg);
    transform: translateX(50px) rotate(530deg);
    opacity: 0;
  }
}
@keyframes roll-out-right {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px) rotate(530deg);
    transform: translateX(50px) rotate(530deg);
    opacity: 0;
  }
}

@media screen and (max-width: 1050px) {
  .bull3_listen-main {
    display: flex;
  }

  .bull3_listen-container {
    border-radius: 0px;
    padding: 1rem 2rem;
  }

  .bull3_col-one .speaker {
    width: 200px;
  }

  .bull3_listen-container h1 {
    text-align: left;
    font-family: "Neue Machina";
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 131.1%;
    letter-spacing: 0.03em;
    color: #f5f3f3;
  }

  .bull3_col-two p {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.045em;
    text-align: left;
    color: #ffffffe4;
  }

  .bull3_listen-container {
    height: 500px;
    border-radius: 0px;
    background: #101010;
    padding: 3rem 5rem;
  }
}

@media screen and (max-width: 790px) {
  .bull3_listen-container {
    height: 881px;
}
  .listenbg img{
    width: 300px;
  }
  .bull3_listen-main {
    display: flex;
  }

  .bull3_listen-container {
    border-radius: 0px;
    background: #100f0f;
  }

  .bull3_col-one .speaker {
    width: 200px;
    margin-left: 60px;
  }

  .bull3_listen-container h1 {
    font-size: 30px;
    line-height: 131.1%;
    letter-spacing: 0.03em;
    color: #fffdfdeb;
    text-align: left;
  }
  .bull3_col-two {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
  }

  .bull3_col-two p {
    font-family: "Verdana";
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.045em;
    text-align: left;
    color: #fffdfdeb;
  }

  .bull3_listen-container {
    /* height: 450px; */
    /* background: #fff; */
    padding: 2rem;
  }
}

@media screen and (max-width: 580px) {
  .bull3_listen-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* .bull3_listen-container {
    border-radius: 0px;
    height: 750px;
    background: #0a0a0a;
  } */
  .bull3_col-two {
    width: 100%;
  }

  .bull3_col-one .speaker {
    width: 200px;
    margin-top: 5px;
  }
  .bull3_listen-container h1 {
    font-size: 30px;
    line-height: 131.1%;
    letter-spacing: 0.03em;
    color: #f0f0f0;
  }

  .bull3_col-two p {
    font-family: "Verdana";
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.045em;
    text-align: center;
    color: #ececec;
  }
}

@media screen and (max-width: 425px) {
  .bull3_listen-main {
    display: flex;
  }

  .bull3_listen-container {
    height: 880px;
    background: #0a0a0a;
  }
  .bull3_col-two {
    width: 100%;
  }
  .bull3_col-one .speaker {
    width: 200px;
  }

  .bull3_listen-container h1 {
    font-size: 30px;
    letter-spacing: 0.03em;
    color: #fdfdfdab;
  }

  .bull3_col-two p {
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.045em;
    text-align: -webkit-center;
    color: #fdfdfdab;
    padding: 10px;
  }
}
